/examples/calculator/.idea
/examples/openlayers/__pycache__
/src/guitares/pyqt5/__pycache__
__pycache__
.idea
deltares_guitares.egg-info
/examples/visualdelta/server/overlay.png
/examples/mapbox/server
/dist
/examples/floodadapt/server
/examples/floodadapt/mapbox_token.txt
/docs/_build
/src/deltares_guitools.egg-info
/src/guitares.egg-info
/examples/frame_collapse/server
mapbox_token.txt
examples/popup_window/.vscode/launch.json
build/
/examples/maplibre_compare/server
/examples/maplibre/server
